*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --primary-font: #9A6735;
    --secondary-font: #626262;
    --link-color: #1876f2;
    --main-color: #7ed957;
    --text-color:#9a9a9a;
    
    --body-color:#e6f0dc;
    --nav-color:#c1e899;
    --bg-color:#fff;
    --typing-color:black;
}
.dark-theme{
    --body-color:#1a1a1a;
    --bg-color:#000;
    --typing-color: white;
}
nav{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    justify-content: space-between;
    background: var(--nav-color);
    align-items: center;
    padding: 5px 5%;
    position: sticky;
    z-index: 1;
}
body{
    background: var(--body-color);
    transition: background 0.3s;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left a{
    margin-right: 45px;
}
.logo{
    mix-blend-mode: multiply;
    top: 0px;
    width: 120px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
   
    cursor: pointer;
}
/* #7ed957 home button color*/ 
.nav-left ul li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
   
}
.nav-left ul{
    display: flex;
    width: 180px;
    align-items: center;
}
.nav-left ul li  img{
    width: 28px;
    margin: 0 15px;
}

.nav-right{
    width: 340px;
    display: flex;
    gap: 10px;
    align-items:center;
}
.profile{
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-font) ;
    cursor: pointer;
}
.search-box{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
    background-color: var(--body-color);
    padding: 0 15px;
    border-radius: 20px;
    gap: 10px;
    text-align: center;
    color:var(--typing-color);
}
.search{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    height: 36px;
    font-size: 14px;
    color: var(--typing-color);
}
.search-icon{
    color: #848583;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    background:#41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background:var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: var(--secondary-font);
}
.main-content{
    flex-basis: 47%;
}
.imp-links{
    display: flex;
    flex-direction: column;
}
.imp-links a{
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    color: var(--secondary-font);
    width: fit-content;
}
.imp-links a i{
    margin-right: 15px;
    font-size: 1.3rem;
    color: var(--primary-font);
}
.imp-links a:last-child{
    color:var(--link-color) ;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.shortcut-links p{
    margin-bottom: 1rem;
    color: var(--primary-font);
    font-weight: 500;
}
.shortcut-links a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--secondary-font);
}
.shortcut-links img{
    width: 35px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-font);
}
.sidebar-title a{
    text-decoration: none;
    color:var(--secondary-font) ;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: var(--link-color);
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--link-color);
    color: white;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ad{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 10px;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story, .story2,.story3,.story4,.story5{
    flex-basis: 18%;
    padding-top: 32%;
    width:60px;
    position:relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(img/profile.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(img/member-2.jpg);
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(img/member-1.jpg);
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(img/member-4.jpg);
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(img/member-5.jpg);
}
.story, .story2,.story3,.story4,.story5{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    font-weight: 400;
    text-align: center;
}
.story, .story2,.story3,.story4,.story5 p{
    
}

.story img{
    width: 24px;
    border-radius: 50%;
    align-items: center;
    transform: translateX(130%);
    margin-bottom: 8px;
}
.story2 img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-font);
    
}
.story3 img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-font);
}
.story4 img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-font);
}
.story5 img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-font);
}
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--secondary-font);
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--secondary-font);
}
.user-profile small{
    font-size: 12px;
}
.user-profile i{
    font-size: 10px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--text-color);
    resize: none;
    font-size: 20px;
    background: transparent;
    color: var(--typing-color);
}
.post-input-container textarea::placeholder{
    font-size: 20px;
}
.add-post-links{
    margin-top: 14px;
    display: flex;
}
.add-post-links i{
    margin-right: 4px;
    font-size: 20px;
}
.add-post-links a{
    text-decoration: none;
    color: var(--secondary-font);
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.fa-camera{
    color: rgb(0, 156, 34);
}
.bxs-video-plus{
    color: red;
}
.fa-face-smile{
    color: rgb(206, 206, 37);
}
.post-container{
    width: 100%;
    background:var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--secondary-font);
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: var(--text-color);
}
.post-text{
    color: var(--text-color);
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: var(--secondary-font);
    font-weight: 500;
}
.post-text a{
    color: var(--link-color);
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icon div img{
    width: 18px;
    margin-right: 10px;

}
.activity-icon div i{
    font-size:18px;
    margin-right: 5px;
}
.activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: var(--text-color);
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    color:var(--text-color);
    background: transparent ;
    border-radius: 4px;
}
.footer{
    display: block;
    text-align: center;
    color: var(--text-color);
    padding: 10px 0 20px;
    font-size: 13px;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 109%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: var(--link-color);
    text-decoration: none;
}

.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0px;
    height: 1px;
    background: var(--text-color);
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.settings-icon{
    width:40px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links i{
    font-size: 38px;
    color: grey;
    margin-right: 10px;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--secondary-font);
    text-align: center;
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--text-color);
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #252525;

}


/* Profile-page */
.profile-container{
    padding: 20px 15%;
    color: var(--secondary-font);
}
.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
    height: 300px;
    object-fit: cover;
}
.profile-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;
    
}
.pd-img{
    height: 100px;
    width: 100px;
    margin-right:20px;
    border-radius:6px;
    object-fit: cover;
    image-rendering: crisp-edges;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 12px;
    object-fit: cover;
}
.pd-right{
    text-align: right;
}
.pd-right button i{
    margin-right: 5px;
}
.pd-right button{
    background: var(--main-color);
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button:first-child{
    background: #e4e6eb;
    color: #000;
}
.pd-right a{
    text-decoration: none;
    color: var(--secondary-font);
    background: #e4e6eb;
    border-radius: 3px;
    display: inline-flex;
    margin-top: 30px;
    padding: 2px 10px;
}
.pd-right a i{
    font-size: 20px;
}
.profile-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background-color: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro h3{
    font-weight: 600;
}
.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}
.profile-intro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.fa-graduation-cap,.fa-house,.fa-location-dot{
    margin-right: 20px;
    font-size: 26px;
}
.fa-location-dot{
    margin-right: 27px;
    margin-left: 4px;
}
.fa-house{
    margin-right: 23px;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a{
    text-decoration: none;
    color:var(--link-color);
    font-size: 14px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.photo-box{
    width: 100%;
    cursor: pointer;
}
.photo-box img{
    width: 85px;
    height: 85px;
    object-fit: cover;
}
.profile-introp{
    font-size: 14px;
}
.friends-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.friends-box img{
    width: 85px;
    height: 85px;
    object-fit: cover;
}
/* Media query for home page */

@media (max-width: 900px){
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search-box{
        display: none;
    }
    .logo{
        width: 110px;
        margin-right: 10px;
    }
    .nav-left a{
        margin: 0;
        display: flex;
        align-items: center;
    }
    .nav-left ul li img{
        width: 20px;
        margin: 0 8px;
    }
    .nav-left ul{
        width: auto;
    }
    .nav-left{
        margin-right: 0;
    }
    .nav-right{
        width: 50px;
    }
    .profile-pic{
       width: 30px;
       height: 30px;
    }
    .profile{
        margin-left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .add-post-links{
        flex-wrap: wrap;
    }
    .main-content{
        flex-basis: 100%;
    }
        .story2 img{
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
    .story3 img{
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
    .story4 img{
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
    .story5 img{
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
    .story, .story2,.story3,.story4,.story5 p{
        font-size: 10px;
    }
    .story img {
        position: absolute;
        bottom: 20px;
        left: -14px;
    }
    .add-post-links a{
        margin-right: 12px;
        font-size: 9px;
    }
    .add-post-links a img{
        width: 16px;
        margin-right: 5px;
    }
    .post-input-container{
        padding-left: 0;
    }
}

/* ------------media query for profile page----------- */

@media (max-width: 900px){
    .profile-container{
        padding: 20px 5%;
    }
    .profile-details{
        flex-wrap: wrap;
    }
    .pd-right{
        text-align: left;
        margin-top: 15px;

    }
    .pd-right button{
        margin-left: 0;
        margin-right: 10px;
    }
    .pd-row div h3{
        font-size: 16px;
    }
    .profile-info{
        flex-wrap: wrap;
    }
    .cover-img{
        height:140px;
    }
    .info-col, .post-col{
        flex-basis: 100%;
    }
    .friends-box div{
        display: flex;
        flex-direction: column;
    } 
    
}
